{% extends "templates/web.html" %}
{% block header_wrapper %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% set title = doc.page_title or _("About Us") %}
{% block page_content %}

<article class="about-content">
	<section class="section title-section d-flex justify-content-center">
		<img src="/files/Flora_Carte_de_Visite@2x.jpg">
		<h1 id="about-title">{{ _("About Us") }}</h1>
	</section>
	<section class="section company-section d-flex flex-column justify-content-center">
		<h2>{{ _("The Company") }}</h2>
		<div class="comp-desc comp-desc-part-1 d-flex">
			<div class="desc-img">
				<img class=".img-under-frame" src="/files/Dossier-3@2x.jpg">
			</div>
			<div class="frame frame-light frame-right">
				<p>
					Le premier objectif est de créer un univers visuel à travers le développement d’un style de bijou nouveau. Le principal facteur de démarcation est un choix de matériaux basé sur leur valeur ésthtétique avant leur valeur monétaire, dans le but de casser les codes de la haute jo qui consiste à utiliser des matériaux “de luxe” comme l’or, le diamant, la pierre facetée, etc. On leur préférera la roche, la pierre brute, le bois, les plumes et la céramique, qui ont traditionnellement une connotation “pauvre”.
				</p>
			</div>
		</div>
		<div class="comp-desc comp-desc-part-2 d-flex flex-column frame frame-dark">
			<div class="desc-upper-part row">
				<div class="col-md">
					<p>
						Le second facteur est la manière de travailler les matières, à un poli miroir et des courbes tendues, viennent se substituer des formes organiques, et des texturages réalistes. La ligne directrice dans la réalisation de nos pièces est basée sur la sculpture et le volume qu’on retrouve dans le travail du métal, de la pierre, du bois. De ce fait, la recherche de nouvaux matériaux se prêtant au travail de sculpture ou au moulage est une partie conséquente du design de nos pièces. Les derniers facteurs de la ligne ésthétique de nos pièces sont le fait d’avoir des pièces très colorées, le jeu sur des compositions de couleurs et l’expérimentation sur la manière de porter les bijoux, par exemple avec notre ligne de boucles de chaussure, ou notre modèle de bague trois-doigts modulable.
					</p>
				</div>
				<div class="col-md img-on-frame">
					<img src="/files/Wave b3d-1@2x.jpg">
				</div>
			</div>
			<div class="desc-lower-part">
				<p>
					La marque tire ses inspirations de plusieurs sources: les univers crées par des auteurs de littératiure fantastique comme Tolkien, GRRM, CS Lewis et de mangakas comme Kentaro Miura, Hiromu Arakawa, Eiichiro Oda. L’art nouveau: Lalique, Mucha, des bijoutiers comme Gilbert Albert, Fawaz Gruosi. Architecture: grecque ancienne et gothiques.
				</p>
			</div>
		</div>
		<div class="comp-desc comp-desc-part-3 d-flex frame frame-light">
			<div class="desc-upper-part row">
				<div class="col-md-3 img-on-frame">
					<img src="/files/Enamel Bague-2@2x.jpg">
				</div>
				<div class="col-md">
					<p>
						Le deuxième objectif est de promouvoir l’artisanat et ses artisans à travers la création de courts-métrages montrant toutes les étapes de fabrication, de la recherche du design jusqu’à la pièce terminée. Au travail cinématographique vient s’ajouter un travail de vulgarisation, afin de faire découvrir le processus de transformation de matières brutes en oeuvre d’art par un artisan. Nous comptons diffuser ces courts-métrages sur les différents réseaux sociaux afin de les rendre accessibles au plus grand nombre.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section products-section d-flex flex-column justify-content-center">
		<h2>{{ _("Our Products") }}</h2>
		<div id="products-slider">
			<div class="p-slider-section">
				<img src="/files/Volput_face@2x.jpg">
				<h3 class="p-slider-title">{{ _("Pièces de Série") }}</h3>
				<p class="p-slider-text">
					Les pièces de cette gamme sont des œuvres uniques pour lesquelles ÆTESIS ne se donne aucune limite créative, dans le but d’allier excentricité et élégance. C’est dans ces réalisations que se crée un lien entre le client et l’univers ÆTESIS.
				</p>
			</div>
			<div class="p-slider-section">
				<img src="/files/croco@2x.jpg">
				<h3 class="p-slider-title">{{ _("Broches de Chaussure") }}</h3>
				<p class="p-slider-text">
					Venant se fixer sur le lacet, les boucles de chaussure sont réalisées en série. Ces pièces ont pour but de promouvoir un placement de bijou rarement vu de nos jours. La chaussure étant un moyen de se démarquer autant qu’une nécessité nous avons pour objectif de collaborer avec des fabriquants de chaussure pour proposer ces pièces au plus grand nombre.
				</p>
			</div>
			<div class="p-slider-section">
				<img src="/files/Koi Bague@2x.jpg">
				<h3 class="p-slider-title">{{ _("Pièces Uniques") }}</h3>
				<p class="p-slider-text">
					Cette gamme regroupe des ensembles constitués principalement de bagues, boucles d’oreilles et pendentifs. Fabriquées en or ou en argent, parfois montées d’une pierre, ces pièces sont le fruit de toute la créativité de la marque. Ce sont généralement des pièces réalisées en cire perdue, avec un fort accent sur la sculpture.
				</p>
			</div>
		</div>

	</section>

	{% if doc.get({"doctype":"Company History"}) %}
	<section class="section section-padding-bottom history-section">
		<h2>{{ doc.company_history_heading or _("Company History") }}</h2>
		{% for d in doc.get({"doctype":"Company History"}) %}
		<div class="row">
			<span class="col-md-2">
				<h5>{{ d.year }}</h5>
			</span>
			<span class="col-md-8">
				<p>{{ d.highlight }}</p>
			</span>
		</div>
		{% endfor %}
	</section>
	{% endif %}

	{% if doc.get({"doctype":"About Us Team Member"}) %}
	<section class="section section-padding-bottom">
		<h2>{{ doc.team_members_heading or _("Team Members") }}</h2>
		<p>{{ doc.team_members_subtitle }}</p>
		<div class="row justify-content-center">
			{% for d in doc.get({"doctype":"About Us Team Member"}) %}
			<div class="col-md-2 mt-4 card" itemscope itemtype="http://schema.org/Person">
				<img class="w-100" src="{{ d.image_link }}" itemprop="image">
				<h3 class="mt-3" itemprop="name">{{ d.full_name }}</h3>
				<p class="small mt-2" itemprop="description">{{ d.bio }}</p>
			</div>
			{% endfor %}
		</div>
	</section>
	{% endif %}
	<section class="section section-padding-bottom">
		{{ doc.footer or "" }}
	</section>
</article>
{% endblock %}

{% block extras %}

{% include "templates/sections/contact.html" %}
{% include "templates/sections/portfolio.html" %}

{% endblock %}