<!-- Payment -->
{% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
<h6>
	{{ _("Payment Summary") }}
</h6>
{% endif %}

<div class="card h-100">
	<div class="card-body p-0">
		{% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
			<table class="table w-100">
				<tr>
					{% set total_items = frappe.utils.cstr(frappe.utils.flt(doc.total_qty, 0)) %}
					<td class="bill-label">{{ _("Net Total (") + total_items + _(" Items)") }}</td>
					<td class="bill-content net-total text-right">{{ doc.get_formatted("net_total") }}</td>
				</tr>

				<!-- taxes -->
				{% for d in doc.taxes %}
					{% if d.base_tax_amount %}
						<tr>
							<td class="bill-label">
								{{ d.description }}
							</td>
							<td class="bill-content text-right">
								{{ d.get_formatted("base_tax_amount") }}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>

			<table class="table w-100 grand-total mt-6">
				<tr>
					<td class="bill-content net-total">{{ _("Grand Total") }}</td>
					<td class="bill-content net-total text-right">{{ doc.get_formatted("grand_total") }}</td>
				</tr>
			</table>
		{% endif %}

		{% if cart_settings.enable_checkout %}
			<button class="btn btn-primary btn-place-order font-md w-100" type="button">
				{{ _('Place Order') }}
			</button>
		{% else %}
			<button class="btn btn-primary btn-request-for-quotation font-md w-100" type="button">
				{{ _('Request for Quote') }}
			</button>
		{% endif %}
	</div>
</div>

<!-- TODO: Apply Coupon Dialog-->
<!-- <script>
	frappe.ready(() => {
		$('.btn-coupon-code').click((e) => {
			const $btn = $(e.currentTarget);
			const d = new frappe.ui.Dialog({
				title: __('Coupons'),
				fields: [
					{
						fieldname: 'coupons_area',
						fieldtype: 'HTML'
					}
				]
			});
			d.show();
		});
	});
</script> -->