<p>
	{{_("Hello")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},
</p>
{% set site_link = "<a href='" + site_url + "'>" + site_url + "</a>" %}
<p>{{_("Thank you for creating an account at {0}").format(site_link)}}</p>
<p>{{_("Your login id is")}}: <b>{{ user }}</b>


<p style="margin: 15px 0px;">
	<a href="{{ link }}" rel="nofollow" class="btn btn-primary">{{ _("Explore ÆTESIS") }}</a>
</p>

{% if created_by != "Administrator" %}
<br>
<p style="margin-top: 15px">
	{{_("Thanks")}},<br>
	{{ created_by }}
</p>
{% endif %}
