{%- macro add_buttons(variants, shopping_cart)-%}
	{% set cart_settings = shopping_cart.cart_settings %}
	{% for v in variants %}
		{% set product_info = v.product_info.product_info %}
		{% set item_code = v.item_code %}
		<div class="buying {{item_code.replace(' ', '_')}} my-hidden d-flex flex-column justify-content-around h-50">
			<div class="item-cart row mt-2" data-variant-item-code="{{ item_code }}">
				<div class="col-md-12 text-center">
					<!-- Price and Availability -->					
					{% if cart_settings.show_price and product_info.price %}
						
						{% set price_info = product_info.price %}

						<div class="product-price">
							<!-- Final Price -->
							<h3 class="price" data-item-code="{{ item_code }}"></h3>

							<!-- Striked Price and Discount  -->
							{% if price_info.formatted_mrp %}
								<small class="formatted-price" data-item-code="{{ item_code }}">
									<s> {{ price_info.formatted_mrp }}</s>
								</small>
							{% endif %}

						</div>
					{% endif %}

					{% if cart_settings.show_stock_availability %}
					<div class="mt-2">
						{% if product_info.get("on_backorder") %}
							<span class="no-stock out-of-stock" style="color: var(--primary-color);">
								{{ _('Available on backorder') }}
							</span>
						{% elif product_info.in_stock == 0 %}
							<span class="no-stock out-of-stock">
								{{ _('Out of stock') }}
							</span>
						{% elif product_info.in_stock == 1 %}
							<span class="in-green has-stock">
								{{ _('In stock') }}
								{% if product_info.show_stock_qty and product_info.stock_qty %}
									({{ product_info.stock_qty[0][0] }})
								{% endif %}
							</span>
						{% endif %}
					</div>
					{% endif %}
				</div>
			</div>
			<div>
				<div class="d-flex">
					<!-- Add to Cart -->
					{% if product_info.price and (cart_settings.allow_items_not_in_stock or product_info.in_stock) %}
						<a href="/cart" class="btn btn-secondary btn-light btn-in-cart hidden mr-2 font-md"
							role="button">
							{{  _("Added to Cart") if cart_settings.enable_checkout else _("Added to Quote") }}
						</a>
						<button
							data-item-code="{{item_code}}"
							class="btn btn-primary btn-add-to-cart mx-auto mr-2 w-30-40"
						>
							<span class="mr-2">
								<img class="btn-icon" src="/files/Ajouter au panier.svg">
							</span>
							<span class="button-text">{{ _("Add to Cart") if cart_settings.enable_checkout else  _("Add to Quote") }}</span>
						</button>
					{% endif %}

					<!-- Contact Us -->
					{% if cart_settings.show_contact_us_button %}
						{% include "templates/generators/item/item_inquiry.html" %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		<script>
			frappe.ready(() => {
				$('.page_content').on('click', '.btn-add-to-cart', (e) => {
					// Bind action on add to cart button
					const $btn = $(e.currentTarget);
					$btn.prop('disabled', true);
					const item_code = $btn.data('item-code');
					const additional_notes = $btn.data('csas') || undefined;
					const region = getCookie('country');
					if (frappe.session.user==="Guest") {
						const guest_id = frappe.get_cookie('guest_id');
						aetesis.e_commerce.shopping_cart.update_cart({
							item_code,
							region,
							qty: 1,
							guest_id: guest_id,
							callback(r) {
							$btn.prop('disabled', false);
							if (r.message) {
								$('.btn-add-to-cart, .btn-in-cart').toggleClass('hidden');
							}
						}
						});
					} else {
						aetesis.e_commerce.shopping_cart.update_cart({
						item_code,
						region,
						qty: 1,
						callback(r) {
							$btn.prop('disabled', false);
							if (r.message) {
								$('.btn-add-to-cart, .btn-in-cart').toggleClass('hidden');
							}
						}
						});
					}
					
				});
		
				$('.page_content').on('click', '.offer-details', (e) => {
					// Bind action on More link in Offers
					const $btn = $(e.currentTarget);
					$btn.prop('disabled', true);
		
					var d = new frappe.ui.Dialog({
						title: __($btn.data('offer-title')),
						fields: [
							{
								fieldname: 'offer_details',
								fieldtype: 'HTML'
							},
							{
								fieldname: 'section_break',
								fieldtype: 'Section Break'
							}
						]
					});
		
					frappe.call({
						method: 'erpnext.e_commerce.doctype.website_offer.website_offer.get_offer_details',
						args: {
							offer_id: $btn.data('offer-id')
						},
						callback: (value) => {
							d.set_value("offer_details", value.message);
							d.show();
							$btn.prop('disabled', false);
						}
					})
		
				});
			});
		
		
			</script>
		
{%- endmacro -%}

{%- macro add_hearts(variants) -%}
	{% for v in variants %}
		<div class="like-action-item-fp like-action {{ 'like-action-wished' if wished else ''}} ml-2 {{v.item_code}} my-hidden"
			data-item-code="{{ v.item_code }}">
			<svg class="icon sm">
				<use class="{{ 'wished' if wished else 'not-wished' }} wish-icon" href="#icon-heart"></use>
			</svg>
		</div>
	{% endfor %}
{%- endmacro -%}

