{% extends "templates/web.html" %}
{% from "aetesis/templates/includes/macros.html" import recommended_item_row, item_images %}

{% block title %} {{ _(title) }} {% endblock %}

{% block breadcrumbs %}
<div class="item-breadcrumbs small text-muted">
	{% include "templates/includes/breadcrumbs.html" %}
</div>
{% endblock %}

{% block page_content %}
<div class="product-container item-main frame-dark" style="margin: 0;">
	<div class="item-content">
		<div class="product-page-content" itemscope itemtype="http://schema.org/Product">
			<!-- Image, Description, Add to Cart -->
			<div class="row mb-5 pt-5" style="background-color: #231F1A; border-radius: 16px;">
				<div class="col-12 col-md-6">
					{{ item_images(variant_details) }}
				</div>
				<div class="col-12 col-md-6 d-flex justify-content-center align-items-around">
					{% include "templates/generators/item/item_details.html" %}
				</div>
				{% if doc.web_long_description %}
				<div class="col-12 col-lg-6">
					
					{% if frappe.utils.strip_html(doc.web_long_description or '') %}
					<div class="px-2 mb-2" style="background-color: #2D2924; border-radius: 16px;">
						<h3 class="">{{ _("Description") }}</h3>
						<p class="">{{ _(doc.web_long_description) | safe }}</p>
					</div>
			
					{% endif %}
				</div>
				{% endif %}
				
				<div class="col-12 col-md-6">
					{% if website_specifications %}
						{% include "templates/generators/item/item_specifications.html"%}
					{% endif %}
				</div>
				<div class="col-12 col-md-6">
					<!-- Recommended Items -->
					{% set show_recommended_items = recommended_items and shopping_cart.cart_settings.enable_recommendations %}
					{% if show_recommended_items %}
					<div class="mt-4 recommended-item-section">
						<div class="product-container mt-2 recommendation-container">
							<h3 class="recommendation-header">Recommended</h3>
							<div class="row">
								{% for item in recommended_items %}
								{{ recommended_item_row(item) }}
							{% endfor %}
							</div>
							
						</div>
					</div>
					{% endif %}

				</div>
				
				
			</div>
		</div>
	</div>
</div>

<!-- Additional Info/Reviews, Recommendations -->
<div class="row">
	
	{% set info_col = 'col-xl-9 col-md-6' if show_recommended_items else 'col-12' %}

	{% set padding_top = 'pt-0' if (show_tabs and tabs) else '' %}

	<div class="product-container mt-4 {{ padding_top }} {{ info_col }}">
		<div class="item-content {{ 'mt-minus-2' if (show_tabs and tabs) else '' }}">
			<div class="product-page-content" itemscope itemtype="http://schema.org/Product">
				<!-- Product Specifications Table Section -->
				{% if show_tabs and tabs %}
					<div class="category-tabs">
						<!-- tabs -->
							{{ web_block("Section with Tabs", values=tabs, add_container=0,
								add_top_padding=0, add_bottom_padding=0)
							}}
					</div>
				{% elif website_specifications %}
				{% endif %}

				<!-- Advanced Custom Website Content -->
				{{ doc.website_content or '' }}

				<!-- Reviews and Comments -->
				{% if shopping_cart.cart_settings.enable_reviews and not doc.has_variants %}
					{% include "templates/generators/item/item_reviews.html"%}
				{% endif %}
			</div>
		</div>
	</div>

	

</div>
{% endblock %}

{% block extras %}

{% include "templates/sections/contact.html" %}

{% endblock %}

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script>
		
	frappe.boot = {{ boot }};
	frappe._messages = {{translated_messages}};
	
	// for backward compatibility of some libs
	frappe.sys_defaults = frappe.boot.sysdefaults;
</script>
<!-- js should be loaded in body! -->
{{ include_script("frappe-web.bundle.js") }}
{{ include_script("controls.bundle.js") }}
{{ include_script("dialog.bundle.js") }}
{% endblock %}
