{% set width_class = "expand" if not slides else "" %}
{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}
{% set price_info = product_info.get('price') or {} %}
{% from "aetesis/templates/includes/macros.html" import build_csas %}

<div class="col-lg-7 product-details frame-dark center-frame {{ width_class }}">
	

	{% if has_variants %}
		<!-- configure template -->
		{% include "templates/generators/item/item_configure.html" %}
	{% else %}
	<div class="d-flex justify-content-center text-center align-items-center w-100">
		<!-- title -->
		<div class="product-title col-11" itemprop="name">
			<h1 id="item-name">{{ _(doc.web_item_name) }}</h1>
		</div>

		<!-- Wishlist -->
		{% if cart_settings.enable_wishlist %}
			{% if has_variants %}
				<div class="like-action-item-fp like-action {{ 'like-action-wished' if wished else ''}} ml-2"
					data-item-code="{{ variant_details[0].item_code }}" data-parent="{{ doc.item_code }}">
				
			{% else %}
				<div class="like-action-item-fp like-action {{ 'like-action-wished' if wished else ''}} ml-2"
					data-item-code="{{ doc.item_code }}">
			{% endif %}
					<svg class="icon sm">
						<use class="{{ 'wished' if wished else 'not-wished' }} wish-icon" href="#icon-heart"></use>
					</svg>
				</div>
		{% endif %}
	</div>
		{% include "templates/generators/item/item_add_to_cart.html" %}
	{% endif %}
	{% if doc.web_long_description %}
		{% if frappe.utils.strip_html(doc.web_long_description or '') %}
			{{ _(doc.web_long_description) | safe }}
		{% endif %}
	{% endif %}


</div>

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{% endblock %}

<script>
	$('.page_content').on('click', '.like-action-item-fp', (e) => {
			// Bind action on wishlist button
			const $btn = $(e.currentTarget);
			aetesis.e_commerce.wishlist.wishlist_action($btn);
		});
</script>
