:root {
  --bg-light: #424242;
  --bg-dark: #212121;
  --primary: goldenrod;
  --secondary: darkgoldenrod;
  --text-primary: mintcream;
  --text-secondary: darkgrey;
  --text-highlight: goldenrod;
  --text-darklight: darkgoldenrod;
}

.page-content-wrapper {
  padding: 64px;
}

.web-sidebar {
  padding-top: 164px;
}

/* BG */

body, .web-footer, .attached-file, .indicator-pill, .dropdown-item:hover,  .chat-welcome-footer, .dropdown-item:hover, .recent-search:hover {
  background: var(--bg-light) !important;
}

.like-action, .like-action-list, .page-card {
  background: var(--bg-dark) !important;
}

.progress-bar-cosmetic, .message-send-button, .hero-icon, .indicator.green::before {
  background: var(--primary) !important;
}

.msgprint hr {
  background: var(--secondary) !important;
}

/* Borders */

.mt-4.ratings-reviews-section {
  border-top-color: var(--secondary) !important;
}

.rating-summary-numbers {
  border-right-color: var(--secondary) !important;
}

.page-card-head, .title-section {
  border-bottom-color: var(--secondary) !important;
}

.modal-header, .modal-footer, .file-upload-area, .col.d-flex.justify-content-between.align-items-center, .web-form-head {
  border-color: var(--secondary) !important;
}

.web-footer {
  border: none;
}

.border.text-center.rounded, .item-slideshow-image:not(.active) {
  border-color: var(--bg-light) !important;
}

/* Navbar */

.navbar {
  background: var(--bg-light) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  border-bottom: none !important;
  position: fixed;
  top: 0 !important;
  width: 100%;
  z-index: 1;
}

a.nav-link {
  color: var(--text-primary) !important;
  font-size: 1em !important;
}

a.nav-link.active {
  color: var(--text-highlight) !important;
  font-weight: bolder !important;
  
}
/* Forms */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgray !important;
  opacity: 1; /* Firefox */
}

.form-control, input.form-control, textarea {
  color: var(--text-primary) !important;
  background: var(--bg-dark) !important;
  border-bottom: 1px solid var(--secondary) !important;
}

input.form-control:focus{
  border-bottom: 1px solid var(--text-primary) !important;
}

textarea:focus {
  background: var(--bg-dark) !important;
  color: var(--text-primary) !important;
  border-bottom: 1px solid var(--text-primary) !important;
}

/* Text-colors */

.mb-6 {
  color: var(--text-primary);
  font-size: 2em;
  text-shadow: 1px 2px 15px #212121;
}


.recommendation-header, h4, h3, h1 {
  color: var(--text-primary) !important;
  text-shadow: 1px 2px 15px var(--bg-dark);
}

p, div, div span, .msgprint, .dropdown-item, .section-head, .mb-4:not(a)
{
  color: var(--text-primary);
}

.breadcrumb-item.active, #dropdownMenuSearch, #search-results-container a, .product-tile, .chat-profile-name, .chat-profile-status, .spec-content, .reviews-header, .rating-summary-numbers, .text-muted, r-item-info a, h5 span, .sign-up-message, .my-account-name, .my-account-item, .file-name, .product-title, .rating-summary-numbers .mt-2, .list-row .col-10.text-left a, .mt-2, h6.text-muted
{  
  color: var(--text-primary) !important;
}

.product-category, .product-code, .control-label, .rating-summary-numbers .mb-2, .rating-bar-title, .spec-label, .chat-query-heading, .message-time, p.forgot-password-message a, .my-account-item-desc, label, .file-size, .col-sm-1 
{
  color: var(--text-secondary) !important;
}

.breadcrumb-item a span, a .rating-summary-numbers h2, modal-title, .product-price, .item-price, .control-label.reqd:after 
{
  color: var(--text-highlight) !important;
}

a:hover, #search-results-container a:hover, a.product-title:hover, .r-item-info a:hover, p.forgot-password-message a:hover, list-row .col-10.text-left a:hover 
{
  color: var(--text-darklight) !important;
}


/* Boxes */

.card-img-top, .list-image {
  background-color: var(--bg-dark) !important;
}

.card:hover, .list-row:hover {
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.page-card, .account-info {
  background-color: var(--bg-dark) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.modal-content {
  background-color: var(--bg-dark);
  border-color: var(--bg-dark) !important;
  box-shadow: 0 0 0  currentColor, 0 6px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.dropdown-menu {
  background-color: var(--bg-dark);
  border: none !important;
  border-bottom: 1px solid var(--secondary) !important;
}

.card, .list-row, .product-container.product-container {
  background: var(--bg-dark) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  border-bottom: solid 1px var(--secondary) !important;
}

.web-form-header, .web-form {
  background-color: var(--bg-dark) !important;
  border: none !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

#product-filters {
  background-color: var(--bg-dark);
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  padding: 10px 16px 2px 16px;
  border-radius: 8px;
  border-bottom: 1px solid var(--secondary) !important; 
}

#search-box {
  color: var(--text-primary) !important;
  background-color: var(--bg-dark) !important;
  border: none !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  border-bottom: solid 1px var(--secondary) !important;
  margin-right: 8px;
}

#search-results-container {
  color: var(--text-primary) !important;
  background-color: var(--bg-dark) !important;
  border: none !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
  border-bottom: solid 1px var(--secondary) !important;
  margin-top: 8px;
}



/* Icons */

svg, svg path {
  stroke: var(--text-primary) !important;
}

symbol#icon-list path{
  fill: var(--text-primary) !important;
}

#icon-attachment path, #icon-edit path{
  stroke: var(--text-secondary);
}

#icon-heart path{
  stroke: var(--secondary) !important;
}

#icon-heart path:hover, .wish-icon.wished{
  fill: var(--primary) !important;
}

#icon-close-alt path {
  stroke: var(--text-primary) !important;
  fill: var(--text-primary);
}

/* Avatar */

.avatar-frame {
  background-color: var(--bg-dark) !important;
  box-shadow: none !important;
  border-top: 1px solid var(--bg-light) !important;
  border-bottom: 1px solid var(--secondary) !important;
  color: mintcream !important;
}

/* Buttons */

.btn{
  color: var(--text-primary) !important;
  background-color: var(--bg-dark) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  border-top: solid 1px var(--bg-light) !important;
  border-bottom: solid 1px var(--secondary) !important;
}

#toggle-view .btn-primary {
  background-color: var(--primary) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 0px rgba(21, 21, 21, 0.51) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
}

.btn-file-upload svg {
  stroke: var(--secondary) !important;
}

.btn-file-upload svg circle{
  fill: none !important;
}


/* Chat */

.chat-element {
  background-color: var(--bg-light) !important;
  border: none !important;
  border-bottom: solid 1px var(--secondary) !important;
  color: var(--text-primary);
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.chat-bubble {
  background: var(--primary) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
}

.chat-header {
  border-bottom-color: var(--secondary) !important;
}

.date-line {
  color: var(--text-primary);
  border-color: var(--primary) !important; 
}

.date-line span {
  background-color: goldenrod !important;
  border-radius: 8px;
}

.recipient-message .message-bubble {
  background: var(--primary) !important;
  color: var(--text-primary) !important;
}

.sender-message .message-bubble {
  background-color: var(--bg-dark) !important;
  color: var(--text-primary) !important;
}


/* Hidden */

.chat-footer, small.formatted-price {
  visibility: hidden !important;
}

