:root {
  /* Colors: */
  --bg-light: #48484A;
  --bg-dark: #202021;
  --primary: #ffd519;
  --secondary: #daa520;
  --text-primary: #f2f2f2;
  --text-secondary: #202021;
  --text-highlight: #ffd519;
  --text-darklight: #daa520;

  /* Font/text values */
--font-h1: Via Appia;
--font-h2: Gimlet Text;
--font-p: Plume;
--font-h3: LTC Italian Old Style Pro;
---font-normal: normal;
--font-weight-300: 300px;
--font-weight-900: 900px;
--font-weight-normal: normal;
--font-size-21: 21px;
--font-size-35: 35px;
--font-size-48: 48px;
--font-size-64: 64px;
--font-size-128: 128px;
--character-spacing-0: 0px;
--line-spacing-26: 26px;
--line-spacing-43: 43px;
--line-spacing-57: 57px;
--line-spacing-77: 77px;
--line-spacing-162: 162px;
}

body {
  background-image: url('/files/Fond@2x.png') 0% 0% repeat padding-box;
  background-position: center !important;
  background-color: var(--bg-dark) !important;
}

footer {
  background: var(--bg-light);
  border-radius: 16px 16px 0 0;
}

footer h2 {
  font-size: 42px;
  margin-top: 0;
}

footer p, footer {
  font-size: 21px;
  line-height: 1.5rem;
}

footer a {
  color: var(--text-primary) !important;
}

.footer-logo {
  height: auto;
  margin-bottom: 1rem;
}

.footer-img, .footer-content {
  transform: translateY(-28%);
}

.footer-links {
  margin-left: 1rem;
}

.frame {
  padding-bottom: 4rem;
  padding-top: 2rem;
  z-index: 1;
}

.btn-prev {
  color: var(--text-primary) !important;
  position: relative;
  left: 10%;
}

.btn-next {
  color: var(--text-primary) !important;
  position: relative;
  right: 30%;
}

.clear-filters {
  color: var(--text-darklight);
}

.frame > h2 {
  margin-top: 0;
}

.frame-dark {
  width: 70%;
  background: transparent url('/files/Fond Sombre@2x.png') 0% 0% no-repeat padding-box;
  border-radius: 64px;
}

.frame-right {
  transform: translate(-20%, 40%);
}

.frame-left {
  transform: translate(20%, 40%);
}

.frame-light {
  width: 70%;
  height: 50%;
  background: transparent url('/files/Fond Clair@2x.png') 0% 0% no-repeat padding-box;
  border-radius: 64px;
  margin-left: 0
}



.img-right {
  margin-left: 0;
}

.section {
  margin-bottom: 5rem;
}

.img-left, .img-right {
  padding: 0;
}

.btn-secondary .btn-icon {
  color: var--(primary) !important;
}

/* Character Styles */
.btn {
  font-family: var(--font-h2);
  font-style: var(--font-normal);
  font-weight: var(--font-weight-900);
  font-size: var(--font-size-21);
  line-height: var(--line-spacing-26);
  letter-spacing: var(--character-spacing-0);
}
.btn-primary {
  color: var(--text-secondary) !important;
}
.btn-secondary {
  color: var(--text-highlight) !important;
}

.breadcrumb-container {
  margin: 0;
}

h1 {
  font-family: var(--font-h1) !important;
  font-style: var(--font-normal) !important;
  font-weight: var(--font-weight-normal) !important;
  font-size: var(--font-size-128) !important;
  line-height: var(--line-spacing-162) !important;
  letter-spacing: var(--character-spacing-0) !important;
  color: var(--text-highlight) !important;
  text-shadow: 1px 2px 15px var(--bg-dark); 
  margin-top: 0;
}

img:not(.no-round) {
  border-radius: 16px;
}


.btn-icon {
  width: 5rem;
  padding-right: 1rem;
}

.hero-section, .frame{
  position:relative;
}
.btn-over-frame {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.btn-over-image {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.img-under-frame {
  transform: translateY(-10%);
  padding: 0;
}

#home-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

h2 {
  font-family: var(--font-h2);
  font-style: var(--font-normal);
  font-weight: var(--font-weight-300);
  font-size: var(--font-size-64);
  line-height: var(--line-spacing-77);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-primary);
  text-shadow: 1px 2px 15px var(--bg-dark);
}
h2.in-fluid {
  margin-left: 18rem;
}
h3 {
  font-family: var(--font-h3);
  font-style: var(--font-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-48);
  line-height: var(--line-spacing-57);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-primary);
}
h3.card-title {
  margin-top: 1rem;
}

p {
  font-family: var(--font-family-plume) !important;
  font-style: var(--font-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-35);
  line-height: var(--line-spacing-43);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-primary);
}

.nav-icon, .nav-avatar, .avatar-frame{
  height: 80px !important;
  width: 80px !important;
}

.user-image-wrapper {
  position: absolute;
}

.nav-avatar {
  padding-left: 0 !important;

}

.navbar-image {
  /* Layout Properties */
  width: 1185px;
  height: 140px;
  margin-left: -22px;
}


.web-sidebar {
  padding-top: 164px;
}

.card-img-container {
  position: relative !important;
  aspect-ratio : 1 / 1 !important;
  padding-bottom: 100% !important;
}

.card-img {
  max-height: unset !important;
  margin: unset !important;
}

.card-body {
  padding-top: unset;
}

.item-slideshow-image {
  position: relative !important;
  padding: unset !important;
  height: inherit !important; 
  object-fit: cover !important;
}

.item-slideshow-image .active {
  border: 1px solid var(--primary)!important;
}

.product-image {
  padding: unset !important;
  border: none !important;
}

/* BG */

.web-footer, .attached-file, .indicator-pill, .dropdown-item:hover,  .chat-welcome-footer, .dropdown-item:hover, .recent-search:hover {
  background: var(--bg-light) !important;
}

.like-action, .like-action-list, .page-card, .remove-wish,.cart-empty, .frappe-card{
  background: var(--bg-dark) !important;
}

.progress-bar-cosmetic, .message-send-button, .hero-icon, .indicator.green::before {
  background: var(--primary) !important;
}

.msgprint hr {
  background: var(--secondary) !important;
}

/* Borders */

.mt-4.ratings-reviews-section {
  border-top-color: var(--secondary) !important;
}

.rating-summary-numbers {
  border-right-color: var(--secondary) !important;
}

.page-card-head, .title-section {
  border-bottom-color: var(--secondary) !important;
}

.modal-header, .modal-footer, .file-upload-area, .col.d-flex.justify-content-between.align-items-center, .web-form-head {
  border-color: var(--secondary) !important;
}

.web-footer, .remove-wish, .product-item-group:last-of-type {
  border: none !important;
}

.border.text-center.rounded, .item-slideshow-image:not(.active) {
  border-color: var(--bg-light) !important;
}


/* Navbar */

.navbar {
  background: var(--bg-light) !important;
  border-bottom: none !important;
}

a.nav-link {
  color: var(--text-primary) !important;
  font-size: 1em !important;
}

a.nav-link.active {
  color: var(--text-highlight) !important;
  font-weight: bolder !important;
  
}
/* Forms */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgray !important;
  opacity: 1; /* Firefox */
}

.form-control, input.form-control, textarea {
  color: var(--text-primary) !important;
  background: var(--bg-dark) !important;
  border-bottom: 1px solid var(--secondary) !important;
}

input.form-control:focus{
  border-bottom: 1px solid var(--text-primary) !important;
}

textarea:focus {
  background: var(--bg-dark) !important;
  color: var(--text-primary) !important;
  border-bottom: 1px solid var(--text-primary) !important;
}

/* Text-colors */

.mb-6 {
  color: var(--text-primary);
  font-size: 2em;
  text-shadow: 1px 2px 15px #212121;
}


.recommendation-header, {
  color: var(--text-primary) !important;
  text-shadow: 1px 2px 15px var(--bg-dark);
}

p, div, div span, .msgprint, .dropdown-item, .section-head, .mb-4:not(a), .cart-empty-message, th
{
  color: var(--text-primary) !important;
}

.breadcrumb-item.active, #dropdownMenuSearch, #search-results-container a, .product-tile, .chat-profile-name, .chat-profile-status, .spec-content, .reviews-header, .rating-summary-numbers, .text-muted, r-item-info a, h5 span, .sign-up-message, .my-account-name, .my-account-item, .file-name, .product-title, .rating-summary-numbers .mt-2, .list-row .col-10.text-left a, .mt-2, h6.text-muted
{  
  color: var(--text-primary) !important;
}

.product-category, .product-code, .control-label, .rating-summary-numbers .mb-2, .rating-bar-title, .spec-label, .chat-query-heading, .message-time, p.forgot-password-message a, .my-account-item-desc, label, .file-size, .col-sm-1 
{
  color: var(--text-secondary) !important;
}

.breadcrumb-item a span, a .rating-summary-numbers h2, modal-title, .product-price, .item-price, .control-label.reqd:after, .price
{
  color: var(--text-highlight) !important;
}

a:hover, #search-results-container a:hover, a.product-title:hover, .r-item-info a:hover, p.forgot-password-message a:hover, list-row .col-10.text-left a:hover 
{
  color: var(--text-darklight) !important;
}

/* Text sizes */

.variant-material {
  font-size: 12px;
  margin-bottom: 0px !important;
}

/* Boxes */

.card-img-top, .list-image {
  background-color: var(--bg-dark) !important;
}

.card:hover, .list-row:hover {
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.page-card, .account-info {
  background-color: var(--bg-dark) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.modal-content {
  background-color: var(--bg-dark);
  border-color: var(--bg-dark) !important;
  box-shadow: 0 0 0  currentColor, 0 6px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.dropdown-menu {
  background-color: var(--bg-dark);
  border: none !important;
  border-bottom: 1px solid var(--secondary) !important;
}

.card, .list-row, .product-container.product-container {
  background: var(--bg-dark) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  border-bottom: solid 1px var(--secondary) !important;
}

.variant, .variant-selector {
  background-color: var(--bg-light);
  margin: 5px;
  padding: 2px !important;
  border-radius: 8px;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(55, 55, 55, 0.51);
}

.web-form-header, .web-form {
  background-color: var(--bg-dark) !important;
  border: none !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.breadcrumb-item {
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
  background-color: var(--bg-dark) !important;
  padding: .5rem !important;
  margin-right: .5rem !important;
  border-radius: 8px
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: var(--primary)
}

ol.breadcrumb {
  margin-bottom: 0;
  padding-bottom: 0;
}

#product-filters {
  background-color: var(--bg-dark);
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  padding: 10px 16px 2px 16px;
  border-radius: 8px;
  border-bottom: 1px solid var(--secondary) !important; 
}

#search-box {
  color: var(--text-primary) !important;
  background-color: var(--bg-dark) !important;
  border: none !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  border-bottom: solid 1px var(--secondary) !important;
  margin-right: 8px;
}

#search-results-container {
  color: var(--text-primary) !important;
  background-color: var(--bg-dark) !important;
  border: none !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
  border-bottom: solid 1px var(--secondary) !important;
  margin-top: 8px;
}



/* Icons */

svg, svg path {
  stroke: var(--text-primary) !important;
}

symbol#icon-list path{
  fill: var(--text-primary) !important;
}

#icon-attachment path, #icon-edit path{
  stroke: var(--text-secondary);
}

#icon-heart path{
  stroke: var(--secondary) !important;
}

#icon-heart path:hover, .wish-icon.wished{
  fill: var(--primary) !important;
}

#icon-close-alt path {
  stroke: var(--text-primary) !important;
  fill: var(--text-primary);
}

.remove-wish-icon {
  stroke: var(--text-primary) !important;
}
.remove-wish-icon:hover {
  stroke: var(--text-highlight) !important;
}

/* Avatar */

.avatar-frame {
  background-color: var(--bg-dark) !important;
  box-shadow: none !important;
  border-top: 1px solid var(--bg-light) !important;
  border-bottom: 1px solid var(--secondary) !important;
  color: mintcream !important;
}

/* Buttons */

.btn{
  background-color: var(--bg-dark) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
  border: solid 3px var(--secondary) !important;;
}

#toggle-view .btn-primary, .btn-explore-variants {
  background-color: var(--primary) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 0px rgba(21, 21, 21, 0.51) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
}

.btn-file-upload svg {
  stroke: var(--secondary) !important;
}

.btn-file-upload svg circle{
  fill: none !important;
}

/* Variant Selection */

.radio_item{
  display: none !important;
}
.radio_item + label {
  font-size: .75rem
}
.radio_item:checked + label .variant-selector  {
  color: var(--text-highlight);
}

.radio_item:checked + label  > .variant-selector {
  border: 1px solid var(--primary);
  cursor: default;
}

.variant-selector {
  width: 5rem;
  height: 5rem;
  text-align: center;
  cursor: pointer;
}

/* Chat */

.chat-element {
  background-color: var(--bg-light) !important;
  border: none !important;
  border-bottom: solid 1px var(--secondary) !important;
  color: var(--text-primary);
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51) !important;
}

.chat-bubble {
  background: var(--primary) !important;
  box-shadow: 0 0 0  currentColor, 0 2px 15px 1px rgba(21, 21, 21, 0.51);
}

.chat-header {
  border-bottom-color: var(--secondary) !important;
}

.date-line {
  color: var(--text-primary);
  border-color: var(--primary) !important; 
}

.date-line span {
  background-color: goldenrod !important;
  border-radius: 8px;
}

.recipient-message .message-bubble {
  background: var(--primary) !important;
  color: var(--text-primary) !important;
}

.sender-message .message-bubble {
  background-color: var(--bg-dark) !important;
  color: var(--text-primary) !important;
}


/* Hidden */
.btn-add-to-cart-list, .btn-explore-variants{
  visibility: visible !important;
}

.chat-footer, small.formatted-price {
  visibility: hidden !important;
}

.my-hidden {
  display: none !important;
}
