<section class="row section">
    <img class="img-left col-md-5 offset-md-1" src="/files/atelier.webp">
    <div class="frame frame-light frame-right text-center col-md-5 offset-md-6 pt-5">
        <h2>{{ _('About Us') }}</h2>
        <p>{{ _('We are Allan and Sebastian, two young entrepreneurs from Geneva, passionate about jewelry. We give free rein to our imagination and to the expression of our universe through our creations') }}</p>
        <a class="btn btn-secondary btn-over-frame" role="button" href="/about">
            <img class="btn-icon" src="files/Info-jaune.png" alt="portfolio-icon"> <span class="button-text">{{ _('Read more!') }}</span>
        </a>
    </div>
</section>