<section class="row section">

    <div class="frame frame-light frame-left text-center col-md-5 offset-md-1">
        <h2>Contactez Nous!</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore </p>
        <a class="btn btn-secondary btn-over-frame" role="button" href="/contact">
            <img class="btn-icon" src="/files/Contact-jaune.svg" alt="contact-icon"> En savoir plus!
        </a>
    </div>
    <img class="img-right col-md-5" src="/files/atelier.webp">
</section>