<section class="row section">

    <div class="frame frame-light frame-left text-center col-md-5 offset-md-1 pt-5">
        <h2>{{ _('Contact Us!') }}</h2>
        <p>{{ _('Ask us your questions, follow our news on our social media or order your own customised pieces') }}</p>
        <a class="btn btn-secondary btn-over-frame" role="button" href="/contact">
            <img class="btn-icon" src="/files/Contact-jaune.svg" alt="contact-icon"> <span class="button-text">{{ _('Contact Us!') }}</span>
        </a>
    </div>
    <img class="img-right col-md-5" src="/files/atelier.webp">
</section>