{% if False %}
</section><section class="align-items-center d-flex flex-column pt-5">
  <div class="frame frame-dark text-center">
      <h2>{{ _('Our Work') }}</h2>
      <p>{{ _('Jewelry collections, sculptures or sketches, find our creations and immerse yourself in our universe') }}</p>
      <a class="btn btn-secondary btn-over-frame" role="button" href="/portfolio">
      <img class="btn-icon" src="files/Portfolio-jaune.png" alt="portfolio-icon"> <span class="button-text">{{ _('See some more!') }}</span>
    </a>
  </div>
  <img class="img-under-frame col-md-10 offset-md-1" src="/files/Koi-Collier.webp">
</section>
{% endif %}